{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <style type="text/css">
    a{
      color: grey;

      padding: 14px 25px;
      text-align: center;
      display: inline-block;
    }

    </style>

    <meta charset="utf-8">
    <title>TUDO</title>
    <link rel="stylesheet" href="static/css/firstpage.css">
    <link rel="stylesheet" href="static/css/nav.css">
    <link rel="stylesheet" href="static/css/style.css">
  </head>
  <body>
    <div class="s1">


    <img src="static/img/TUDO.png" class="brand-logo" alt="logo" />
    <br>
    <div class="s2">


    <a href="login">shop now</a>
    </div>
    </div>
    <link rel="stylesheet" href="firstpage.css">
  </body>
</html>
