{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> Tudo</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/homepage.css">
  </head>
  <body>
    <link rel="firstpage.html" href="firstpage.html">
    <nav class="navbar">
<div class="nav">

    <h1>TUDO</h1>
    <div class="nav-items">

        <div class="search">
            <input type="text" class="search-box" placeholder="search brand, product">
            <button class="search-btn">search</button>

        </div>
        <a href="cart"><img src="static/img/cart.jpeg" alt=""></a>
        <a href="product-details"><img src="static/img/profile.jpeg" alt=""></a>
    </div>

</div>

<ul class="links-container">
    <li class="link-item"><a href="#" class="link">home</a></li>
    <li class="link-item"><a href="menshp" class="link">men</a></li>
    <li class="link-item"><a href="womenhp" class="link">women</a></li>



</ul>
<nav class="navbar"></nav>
<script src="js/nav.js"></script>
<header class="hero-section">
    <div class="content">
        <div class="gg" slot="height:500px">
      <div class="c1" style="height: 500px">
          <img src="static/img/tudo1.jpeg" class="logo" alt="" width=1000px style=" height:500px; padding-top: 00px;">
      </div>
    </div>


        <div class="bs">
          <p class="sub-heading">best fashion collection of all time</p>

        </div>

    </div>
</header>
<section class="product">
    <h2 class="product-category">best selling</h2>
</section>
<div class="product-container">
    <div class="product-card">
        <div class="product-image">
            <span class="discount-tag">50% off</span>
            <img src="static/img/w1.jpeg" class="product-thumb" alt="">
            <a href="cart"><button class="card-btn">add to cart</button></a>
        </div>
        <div class="product-info">
            <h2 class="product-brand">H & M</h2>
            <p class="product-short-des"></p><span class="price">2000</span><span class="actual-price ">4000</span>
        </div>
    </div>

    <div class="product-card">
        <div class="product-image">
            <span class="discount-tag">10% off</span>
            <img src="static/img/mi1.jpeg" class="product-thumb" alt="">
            <a href="cart"><button class="card-btn">add to cart</button></a>
        </div>
        <div class="product-info">
            <h2 class="product-brand">Van Heusen</h2>
            <p class="product-short-des"></p>
            <span class="price">2700</span><span class="actual-price">3000</span>
        </div>
    </div>

    <div class="product-card">
        <div class="product-image">
            <span class="discount-tag">20% off</span>
            <img src="static/img/wi2.jpeg" class="product-thumb" alt="">
            <a href="cart"><button class="card-btn">add to cart</button></a>
        </div>
        <div class="product-info">
            <h2 class="product-brand">Zara</h2>
            <p class="product-short-des"></p>
            <span class="price">2000</span><span class="actual-price">2500</span>
        </div>
    </div>
    <div class="product-card">
        <div class="product-image">
            <span class="discount-tag">25% off</span>
            <img src="static/img/mi2.jpeg" class="product-thumb" alt="">
            <a href="cart"><button class="card-btn">add to cart</button></a>
        </div>
        <div class="product-info">
            <h2 class="product-brand">Louis Philippe</h2>
            <p class="product-short-des">
            </p>
            <span class="price">3000</span><span class="actual-price">4000</span>
        </div>
    </div>

</div>
<!-- <button class="pre-btn"><img src="TUDO.png" alt=""></button>
<button class="nxt-btn"><img src="TUDO.png" alt=""></button> -->
<script src="js/home.js"></script>
<section class="collection-container">
    <a href="womenhp" class="collection">
        <img src="static/img/wi2.jpeg" alt=" ggggg">
        <p class="collection-title">women <br> apparels</p>
    </a>
    <a href="menshp" class="collection">
        <img src="static/img/mhp1.webp" alt="">
        <p class="collection-title">men <br> apparels</p>
    </a>

</section>
<footer>
    <div class="footer-content">
        <img src="static/img/light-logo.png" class="logo" alt="">
        <div class="footer-ul-container">
            <ul class="category">
                <li class="category-title">men</li>
                <li><a href="#" class="footer-link">t-shirts</a></li>

                <li><a href="#" class="footer-link">shirts</a></li>
                <li><a href="#" class="footer-link">jeans</a></li>


            </ul>
            <ul class="category">
                <li class="category-title">women</li>
                <li><a href="#" class="footer-link">t-shirts</a></li>

                <li><a href="#" class="footer-link">shirts</a></li>
                <li><a href="#" class="footer-link">jeans</a></li>

            </ul>
        </div>
    </div>
</footer>
<footer>

    <p class="footer-title">about TUDO</p>
    <p class="info">TUDO is an online shopping system where you can shop. customers will have many choices to choose .this is developed by suchith, hemanth, aniruth</p>
    <p class="info">support emails - TUDO@gmail.com, customersupportTUDO@clothing.com</p>
    <p class="info">telephone - 7416230504, 7416767559,8106578562</p>
    <div class="footer-social-container">
        <div>
            <a href="#" class="social-link">terms & services</a>
            <a href="#" class="social-link">privacy page</a>
        </div>
        <div>
            <a href="https://www.instagram.com/tudo__official/" class="social-link">instagram</a>
            <a href="https://www.facebook.com/" class="social-link">facebook</a>
            <a href="https://twitter.com/i/flow/login" class="social-link">twitter</a>
        </div>
    </div>
    <p class="footer-credit">Clothing, Best apparels online store</p>
</footer>
<footer></footer>

<script src="js/footer.js"></script>
</nav>
<link rel="stylesheet" href="homepage.css">
<link rel="stylesheet" href="home.js">
<link rel="stylesheet" href="nav.js">

  </body>
</html>
